body {
background-color:beige;  
   
}
h1{color:rgb(68, 59, 47); text-align:center;}
p{
    font-family:sans-serif;
}
ul{
    line-height:40px;
}
/*selectors in css*/
/*element selectors*/
/*class selectord*/
/*use a dot to access the class*/
/*id seectors*/

.Hobby{background-color:burlywood;border: 2px solid yellow;
    padding: 6px;
    margin: 20px;
    }





    .seti{background-color:silver;border: 2px solid white ;
        padding: 6px;
        margin: 20px;
        }
    .pic1{float:inherit;}
    .h2{text-align:justify;
    direction:rtl;unicode-bidi:didi-override;
    
    
    }
    
    
    
    
    
    .toy1{

padding:10px;
border:5px;
margin:0;
    }
    .p1{font-family:Arial, Helvetica, sans-serif;}
    .p2{font-family:'Times New Roman', Times, serif}
    .p3{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}

    
   .toy2{
    padding:10px;
    border:5px;
    margin:0;
   } 
    .test-box{ border: 2px solid gold;
        padding: 6px;
        margin: 20px;
        background-color: yellow;}
    
    .fav{border: 2px solid pink;
        padding: 6px;
        margin: 20px;
        background-color: rosybrown;}
    
    .food {border: 2px solid yellow;
        padding: 6px;
        margin: 20px;
        background-color:goldenrod;}